@font-face {
    font-family: 'HelveticaNeueLTPro-MdEx';
    src: url('https://pixelflowxyz.gitlab.io/HelveticaNeueLTPro-MdEx.woff2') format('woff2'),
        url('https://pixelflowxyz.gitlab.io/HelveticaNeueLTPro-MdEx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

